*.asv
eeglab/*
plugins/
temp/
ds002718/
ds*/
processed-*
HED/hed_python/
web/nemar_access_token
*logs/
.conda/
.vscode/
.venv/
web/nemar-json-spreadsheet/token.json
web/nemar-json-spreadsheet/__pycache__/
web/nemarapi/__pycache__/
web/__pycache__/
memory-sweep/
HED/.python-version
pyvenv.cfg
